@import "../../NavFooter/nav.scss";
@import "../../NavFooter/footer.scss";
@import "../../components/components.scss";
@import "../../utili/utili.scss";
@import "../../media/media.scss";

header {
  background-color: $white;
  box-shadow: 10px 0px 100px 1px $secondary-lighter-blue;
  .nav-item {
    a {
      color: $main-color;
    }
  }
}

.hamburger {
  .bar {
    background-color: $main-color;
  }
}

// .login-wrapper {
//   position: relative;

//   width: 100vw;
//   min-height: calc(100vh - 60px);
//   // border-bottom: 1px solid $white;
//   background-color: $secondary-white-blue;
// }

main {
  background-color: $secondary-white-blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-menu {
  width: 500px;
  // height: 600px;

  background-color: $white;

  box-shadow: 1px 1px 8px 1px $secondary-lighter-blue;
  border-radius: 10px;

  &__wrapper {
    width: 80%;
    margin: auto;
  }

  &__title {
    color: $main-color;
    font-size: 23px;
    text-align: center;
    margin-top: 25px;
  }

  &__api {
    color: $main-color;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin-top: 25px;
    border: 2px solid $secondary-lighter-blue;
    border-radius: 12px;
    margin-bottom: 25px;
  }

  &__pic {
    width: 30px;
    vertical-align: bottom;
  }

  &__label {
    color: $main-color;
    margin-bottom: 5px;
  }



  &__line {
    margin-bottom: 20px;
  }

  &__line::before {
    content: " ";
    border: 1px solid $secondary-lighter-blue;
    background-color: $secondary-lighter-blue;
    margin: auto;
    display: block;
    width: 100%;
  }

  &__label {
    display: block;
    font-weight: 700;
  }


  &__input{
    width: 100%;
    padding: 12px;
    border: 2px solid $secondary-lighter-blue;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__input-box:focus{
    outline: none;
    background-color: $secondary-white-blue;
  }

  &__submit{
    width: 100%;
    color: $white;
    font-size: 1.2rem;
    padding: 12px;
    border: 1px;
    border-radius: 15px;
    background: linear-gradient($secondary-dark-blue, $main-color);
    margin-bottom: 8px;
    cursor: pointer;
  }

  &__helper{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    a{
      color: $main-color;
    }

    a:visited, a:hover, a:focus{
      color: $main-color;
    }
  }
}

@media (min-width: 840px) {
  .welcome {
    &__title {
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 1280px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(30%, 80%);
    }
  }
}

@media (max-width: 998px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(25%, 80%);
    }
  }

  @include section-button-flex(33.33%, 70%, 10px);
}

@media (max-width: 840px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(30%, 80%);
    }
  }
}

@media (max-width: 575px) {
  .welcome {
    &__title {
      font-size: 1.8rem;
      @include welcome-title-position(20%, 80%);
    }
  }
}

@media (max-width: 420px) {
  .welcome {
    &__title {
      font-size: 1.6rem;
      @include welcome-title-position(0%, 80%);
    }
  }
}
